.wrapper {
    overflow-y: scroll;
    height: calc(100dvh - 60px);

    .table_container {
        position: relative;
    }

    .no_data {
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
    }
}
