.wrapper {
    position: relative;

    .table {
        width: 100%;
        border: 1px solid black;
        table-layout: fixed;
        border-collapse: collapse;

        thead {
            width: 100%;

            tr {
                width: 100%;

                th {
                    overflow: hidden;
                    height: 50px;
                    user-select: none;

                    label {
                        position: relative;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        width: 100%;
                        height: 100%;
                        cursor: pointer;

                        input {
                            display: none;
                        }

                        /*sor marker*/

                        p {
                            position: absolute;
                            display: none;
                            bottom: -2px;
                        }
                    }

                    :has(input:checked) {
                        background: #e3e3e3;

                        :global(.visible) {
                            display: flex;
                        }

                    }
                }

                /*ID*/

                > :nth-child(1) {
                    width: 3vw;
                }

                /*name*/

                > :nth-child(2) {
                    width: 10vw;
                }

                /*surname*/

                > :nth-child(3) {
                    width: 10vw;
                }

                /*email*/

                > :nth-child(4) {
                    width: 10vw;
                }

                /*phone*/

                > :nth-child(5) {
                    width: 8vw;
                }

                /*age*/

                > :nth-child(6) {
                    width: 5vw;


                    p {

                    }
                }

                /*course*/

                > :nth-child(7) {
                    width: 5vw;


                    p {


                    }
                }

                /*course_format*/

                > :nth-child(8) {
                    width: 8vw;


                    p {

                    }
                }

                /*course_type*/

                > :nth-child(9) {

                    width: 8vw;

                    p {

                    }
                }

                /*sum*/

                > :nth-child(10) {
                    width: 8vw;


                }

                /*alreadyPaid*/

                > :nth-child(11) {
                    width: 8vw;

                    p {

                    }
                }


                /*utm*/

                /*> :nth-child(12) {*/
                /*    width: 5vw;*/
                /*}*/


                /*msg*/

                /*status*/

                > :nth-child(12) {
                    width: 7vw;
                }

                /*created_at*/

                > :nth-child(13) {
                    width: 9vw;
                }
            }
        }

        tbody {

            tr {
                width: 100%;

                td {
                    overflow: hidden;
                    text-wrap: nowrap;
                    font-size: 16px;
                    border: 1px solid black;
                }

                /*ID*/

                > :nth-child(1) {
                    text-align: center;
                }

                /*name*/

                > :nth-child(2) {
                }

                /*surname*/

                > :nth-child(3) {

                }

                /*email*/

                > :nth-child(4) {

                }


                /*phone*/

                > :nth-child(5) {
                }


                /*age*/

                > :nth-child(6) {
                    text-align: center;
                }

                /*course*/

                > :nth-child(7) {
                    text-align: center;
                }

                /*course_format*/

                > :nth-child(8) {
                    text-align: center;
                }

                /*course_type*/

                > :nth-child(9) {
                    text-align: center;
                }

                /*sum*/

                > :nth-child(10) {

                }

                /*alreadyPaid*/

                > :nth-child(11) {

                }


                /*status*/
                /*created_at*/
            }
        }
    }
}
