.wrapper {
    display: flex;
    box-shadow: 0 0 15px rgba(26, 26, 26, 0.2);
    flex-direction: column;
    border: 1px solid rgba(96, 96, 96, 0.2);
    align-items: center;
    text-align: left;
    padding: 20px;
    width: fit-content;
    border-radius: 5px;
    font-size: 18px;
    background: linear-gradient(45deg, #62edf9 0% 35%, #62bff9 50%, #62edf9 65% 100%);
    background-size: 500% 500%;
    animation: move-gradient 10s infinite;


    .form {
        position: relative;
        display: flex;
        width: fit-content;
        flex-direction: column;
        gap: 20px;

        div {
            position: relative;

            label {
                display: flex;
                flex-direction: column;


                input {
                    font-size: 18px;
                    padding: 5px;
                    width: 400px;
                    border: 1px solid rgba(96, 96, 96, 0.2);
                    border-radius: 5px;
                }
            }


        }


        button {
            width: 100%;
        }
    }

    p {
        position: absolute;
        color: red;
        bottom: -20px;
        left: 146px;
    }
}

@keyframes move-gradient {
    0% {
        background-position: 0 50%;
    }

    100% {
        background-position: 100% 50%;
    }
}