.form {
    height: 100%;
    width: 90%;
    align-items: center;
    justify-content: space-evenly;
    display: grid;
    grid-template-columns: repeat(7, 14%);
    grid-template-rows: auto;

    > .form_item {
        font-size: 12px;
        line-height: 12px;
        padding: 5px;
        border: 1px solid rgba(96, 96, 96, 0.2);
        border-radius: 5px;
        overflow: auto;
        text-wrap: nowrap;


    }

    .reset, .my_order {
        cursor: pointer;
        display: flex;
        justify-content: center;
        align-items: center;
        user-select: none;
        gap: 5px;
        background: #fdfdfd;
        line-height: 15px;
        transition: 0.2s;

        span {
            transform: translateX(0);
            transition: transform 0.3s;

        }

        input {
            display: none;
        }

        .check {
            opacity: 0;
            transition: 0.3s;;
        }

        .check_show {
            opacity: 1;
            transition: 0.2s;
        }


    }

    .my_order:not(:has(.check_show) ) {
        span {
            transform: translateX(-9px);
            transition: transform 0.3s;

        }
    }

    > .reset {
        background: #fdfdfd;
        line-height: 13px;
        transition: 0.2s;

        .check {
            fill: black;
        }
    }

    > .reset:hover, .my_order:hover {
        background: #1e1f22;
        color: #fff;
        transition: 0.2s;

        .check {
            fill: #fff;
        }

    }

    .my_order {

        width: 100%;
    }

    input[type="number"]::-webkit-outer-spin-button,
    input[type="number"]::-webkit-inner-spin-button {
        -webkit-appearance: none;

    }
}