.label {
    position: relative;
    display: flex;
    flex-direction: column;
    text-align: left;
    user-select: none;

    .drop_down_input {
        font-size: 18px;
        padding: 5px 35px 5px 5px;
        width: 400px;
        border: 1px solid rgba(96, 96, 96, 0.2);
        border-radius: 5px;
    }

    .control_buttons {
        position: absolute;
        z-index: 101;
        height: 32px;
        width: 64px;
        bottom: 0;
        right: 0;
        display: flex;
        justify-content: flex-end;
        align-items: center;
        padding: 0 5px;
        gap: 5px;

        .svg_base {
            height: 22px;
            width: 22px;

            border-radius: 50%;
            overflow: hidden;
            display: flex;
            justify-content: center;
            align-items: center;
            transition: 0.3s;
            cursor: pointer;

        }

        .svg_base:hover {
            background: #e3e3e3;
            transition: 0.3s;
        }

    }

    .drop_down {

        position: absolute;
        border: 1px solid rgba(96, 96, 96, 0.2);
        z-index: 101;
        overflow-y: auto;
        max-height: 300px;
        top: 54px;
        width: 100%;
        background: #ffffff;
        box-shadow: 1px 1px 3px #838383;
    }


    > p:before {
        content: '*'
    }

    > p {
        color: #ff0000;
        position: absolute;
        bottom: 32px;
        right: 0;
        text-align: right;
        width: 80%;
    }
}