.cell {
    overflow: hidden;
    height: 40px;
    user-select: none;
    background: white;
    position: sticky;
    top: 60px;
    border: 1px solid #919191;
    z-index: 15;

    > :hover {
        background-color: #f4f4f4;
        transition: 0.3s;
    }

    label {
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 100%;
        cursor: pointer;
        padding-bottom: 8px;


        input {
            display: none;
        }

        /*sort marker*/

        .up, .down {
            position: absolute;
            display: none;
            bottom: -2px;
        }

    }

    /*hover and appearance logic of sorting mark switch */


    :has(input:checked) {
        background: #e3e3e3;

        .visible {
            display: flex;
        }

    }
}

/*individual settings for each table column*/
.id {
    width: 3vw;
}

.name {
    width: 10vw;
}

.surname {
    width: 10vw;
}

/*.email {*/
/*    width: 13vw;*/
/*}*/

.phone {
    width: 7vw;
}

.age {
    width: 3vw;
}

.course {
    width: 5vw;
}

.course_format {
    width: 7vw;
}

.course_type {
    width: 7vw;
}

.sum {
    width: 6vw;
}

.alreadyPaid {
    width: 6vw;
}

.status {
    width: 4vw;
}

.group {
    width: 4vw;
}

.created_at {
    width: 6vw;
}

.manager {
    width: 6vw;
}