.wrapper {
    position: absolute;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    height: 182px;
    top: -182px;
    transition: 0.4s;
    z-index: 5;
    background: #c3c3c3;

    ul {
        display: flex;


        li {
            margin: 0 20px;
            display: flex;
            justify-content: center;
            align-items: center;
            background: #86ccff;
            padding: 8px 15px;
            border: 1px solid rgb(115, 115, 115);
            cursor: pointer;
            transition: all 0.3s;
            font-size: 18px;
            width: fit-content;
            user-select: none;
        }
    }


}

:global(.lower) {
    top: 0;
}
