:global(body) .non_click {
    cursor: initial;
    user-select: none;
}

:global(body) .non_click:hover {
    background: #e8e8e8;
}

:global(body) .current {
    background: #c3c3c3;
}

:global(body) .current:hover {
    background: #c3c3c3;
}