:global(html body ) .non_click {
    cursor: initial;
    user-select: none;
}

:global(html body ) .non_click:hover {
    background: #e8e8e8;
}

:global(html body) .current_page {
    background: #c3c3c3;
}

:global(html body) .current_page:hover {
    background: #c3c3c3;
}