html {
    overflow-y: scroll;
}

html, body {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    height: 100dvh;

}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.button {
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    background: #86ccff;
    border-radius: 8px;
    border: 1px solid rgb(115, 115, 115);
    cursor: pointer;
    transition: all 0.3s;
    font-size: 18px;
    width: fit-content;
    user-select: none;
    padding: 5px 10px;
    overflow: hidden;
    height: fit-content;
    align-self: center;
}

.button:hover {
    background: #abd6fb;
}

.button:disabled {
    cursor: initial;
}

.button:disabled:hover {
    background: #86ccff;
}

