.form {
    position: relative;
    border: 1px solid rgba(96, 96, 96, 0.2);
    padding: 20px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    background: linear-gradient(45deg, #62edf9 0% 35%, #62bff9 50%, #62edf9 65% 100%);
    background-size: 500% 500%;
    animation: move-gradient 10s infinite;
    align-items: center;
    gap: 20px;

    label {
        position: relative;
        display: flex;
        flex-direction: column;
        text-align: left;

        input {
            font-size: 18px;
            padding: 5px;
            width: 400px;
            border: 1px solid rgba(96, 96, 96, 0.2);
            border-radius: 5px;
        }

        p:before {
            content: '*'
        }

        p {
            color: #ff0000;
            position: absolute;
            top: 0;
            right: 0;
        }
    }

    .buttons {
        display: flex;
        justify-content: space-between;
        width: 100%;

        > * {
            width: 48%;
        }

    }

    .response_error {
        position: absolute;
        color: red;
        bottom: 0;
        left: 50%;
        transform: translateX(-50%);
    }


}


@keyframes move-gradient {
    0% {
        background-position: 0 50%;
    }

    100% {
        background-position: 100% 50%;
    }
}