.wrapper {
    position: sticky;
    bottom: 10px;
    margin: 10px auto;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;

    div {
        cursor: pointer;
        user-select: none;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 40px;
        width: 40px;
        border: 1px solid #9b9b9b;
        border-radius: 50%;
        background: #e8e8e8;
        box-shadow: 0 0 10px rgb(214, 214, 214);
        opacity: 1;
        transition: 0.3s;

        span {
            height: 49px;
            font-size: 30px;
        }
    }

    > :hover {
        background: #d0e4fc;
    }
}