.base {
    width: 100%;
    height: 60px;
    position: sticky;
    /*background: #a2ead9;*/
    top: 0;
    z-index: 25;
    background: linear-gradient(45deg, #62edf9 0% 35%, #62bff9 50%, #62edf9 65% 100%);
    background-size: 500% 500%;
    animation: move-gradient 10s infinite;

    .container {
        width: 90%;
        height: 100%;
        margin: 0 auto;
        display: flex;
        justify-content: space-between;
        align-items: center;

        .logo {
        }

        .toolbox {
            width: 60vw;
            /*max-width: 70vw;*/
            height: 98%;
            border-radius: 10px;
            /*border: 1px solid grey;*/
            /*background: #f8f8f8;*/
            display: flex;
        }

        .menu {
            height: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 10px;
            list-style: none;
        }


    }


}

@keyframes move-gradient {
    0% {
        background-position: 0 50%;
    }

    100% {
        background-position: 100% 50%;
    }
}
