.cell {
    overflow: hidden;
    text-wrap: nowrap;
    font-size: 16px;
    border-left: none;
    border-right: none;
    border-top: 1px solid #bcbcbc;
    border-bottom: none;
    user-select: none;
}

.id {
    text-align: center;
}

.name {
    text-indent: 3px;
}

.surname {
    text-indent: 3px;
}

.email {
    text-indent: 3px;
}

.role {
    text-align: center;
}


.active {
    text-align: center;
}

.phone {
    text-align: center;
}

.ban {
    text-align: center;
}

.total_orders {
    text-align: center;
}

.last_login {
    text-align: center;
}

.age {
    text-align: center;
}

.course {
    text-align: center;
}


.course_format {
    text-align: center;
}

.course_type {
    text-align: center;
}

.sum {
    text-align: center;
}

.alreadyPaid {
    text-align: center;
}

.status {
    text-align: center;
}

.group {
    text-align: center;
}

.created_at {
    text-align: center;
}

.manager {
    text-align: center;
}