.not_visible {
    height: 0;
    transition: 0.3s;
    opacity: 0;

    td {
        visibility: hidden;

    }

}

.visible {
    height: 50px;
    transition: 0.3s;
    opacity: 1;

    td {
        visibility: visible;
    }


}


.row_extension {
    border: none;

    td {
        border: none;
        height: inherit;

        > div {
            height: inherit;
            display: flex;
            justify-content: flex-end;
            align-items: center;
            padding: 0 1vw;
            gap: 1vw
        }

    }
}

