.order_row {
    cursor: pointer;
    border: none;
    animation: opacity_control 0.3s forwards;
}

.order_row:hover {
    background-color: #f4f4f4;
}

@keyframes opacity_control {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }

}
