.not_visible {
    height: 0;
    transition: 0.3s;
    opacity: 0;

    td {
        visibility: hidden;

    }

}

.visible {
    height: 50px;
    transition: 0.3s;
    opacity: 1;

    td {
        visibility: visible;
    }


}


.row_extension {
    border: none;

    td {
        border: none;
        height: inherit;
        opacity: inherit;

        .cell_wrapper {
            height: inherit;
            display: flex;
            opacity: inherit;

            .statistic_container {
                display: flex;
                flex-basis: 60%;
                height: inherit;
                justify-content: flex-end;
                align-items: center;
            }

            .action_container {
                height: inherit;
                display: flex;
                flex-basis: 40%;
                justify-content: flex-start;
                align-items: center;
                padding: 0 1vw;
                gap: 1vw;

                .response_fulfilled {
                    animation: fade-out 1s 2s ease-in forwards;
                }

                .response_error {
                    color: red;
                    display: flex;
                    flex-direction: column;
                    animation: fade-out 1s 2s ease-in forwards;

                }
            }

        }
    }


}

@keyframes fade-out {
    0% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}